.viewport {
  --scale: min(calc(100vw / 1440), calc(100vh / 5099));
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: var(--canvas-bg);
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.artboard {
  position: relative;
  width: 1440px;
  height: 5099px;
  transform: scale(var(--scale));
  transform-origin: top center;
}

@supports (zoom: 1) {
  .artboard {
    zoom: var(--scale);
    transform: none;
  }
}

.pageBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 4599px;
  background-image: url('/img/tatacara.svg');
  background-size: 100% auto;
  background-position: left top;
  background-repeat: no-repeat;
}

.mapEmbed {
  position: absolute;
  left: 190.5px;
  top: 1815.5px;
  width: 1056px;
  height: 452px;
  border: 0;
  border-radius: 10px;
}

.footerPlacement {
  top: 4599px;
}
